.nav-scrolled {
    background-color: #e5e5e5;
}

.text {
    color: #080808;
}

.menu {
    background-color: #e5e5e5;
}

.menu__link {
    color: #080808;
}

.menu__link-menu {
    color: #080808;
}

.menu__link--button {
    border: 1px solid #080808;
}

.menu__burger {
    height: 38px;
    width: 38px;
    cursor: pointer;
    position: relative;
}

.menu__burger::after {
    background-color: #080808;
}

.menu__burger::before {
    background-color: #080808;
}

.menu:hover {
    background-color: #e5e5e5;
}

.active {
    background-color: rgba(229, 229, 229, 0);
}

.active .menu__link--button {
    border: 1px solid #e5e5e5;
}

.active .menu__burger::after {
    background-color: #e5e5e5;
}

.active .menu__burger::before {
    background-color: #e5e5e5;
}

.active .menu__link {
    color: #e5e5e5;
}

.active:hover {
    background-color: rgba(229, 229, 229, 0);
}

/*_____________________________________________________________________________________menu________________________________________________________________________________________________*/
/*_________________________________________________________________________________header-info_____________________________________________________________________________________________*/
.header-info {
    grid-template: 207px auto 119px/1fr minmax(auto, 197px) minmax(auto, 236px) minmax(auto, 500px) minmax(auto, 337px) minmax(auto, 197px) 1fr;
    -ms-flex-align: center;
    align-items: center;
}

.header-info__title {
    grid-column: 3/5;
    grid-row: 2;
}

.header-info__list {
    letter-spacing: 0.06em;
    grid-column: 5;
    grid-row: 2;
    max-width: 337px;
}

/*____________________________________________ADAPTIVE_________________________________________________*/
/*______________max-width: 1024px______________*/
@media (max-width: 1024px) {
    .header-info {
        grid-template: 152px auto 16px auto 103px/minmax(auto, 159px) 319px 1fr;
        -ms-flex-align: center;
        align-items: center;
    }

    .header-info__title {
        grid-column: 2;
        grid-row: 2;
    }

    .header-info__list {
        grid-column: 2;
        grid-row: 4;
        max-width: 319px;
    }
}
/*_____________max-width: 768px_______________*/
@media (max-width: 768px) {
    .header-info {
        grid-template: 138px auto 14px auto 95px/minmax(50px, 124px) 325px minmax(100px, 1fr);
    }
}
/*______________max-width: 480px______________*/
@media (max-width: 480px) {
    .header-info {
        grid-template: 116px auto 16px auto 64px/6.4% 1fr 6.4%;
    }

    .header-info__title {
        grid-column: 2;
        grid-row: 2;
    }

    .header-info__title span {
        display: none;
    }
}
/*_________________________________________________________________________________header-info_____________________________________________________________________________________________*/
/*___________________________________________________________________________________projects______________________________________________________________________________________________*/
.projects {
    margin: 0 auto;
}

.projects__card-info {
    grid-template: 1fr auto 26px auto 56px 13px 56px/minmax(auto, 54px) auto minmax(auto, 64px);
    opacity: 1;
}

.projects__card-title {
    grid-column: 2;
    grid-row: 6;
    max-width: 227px;
    color: #ffffff;
}

.projects__card-title--black {
    grid-column: 2;
    grid-row: 2;
    color: #080808;
    max-width: 365px;
}

.projects__card-text {
    grid-column: 2;
    grid-row: 4;
}

.projects__card-more {
    grid-column: 2;
    grid-row: 6;
}

.projects__card-more .link-and-row {
    color: #080808;
}

.projects__card-more .link-and-row::after, .projects__card-more .link-and-row::before {
    background: rgba(49, 49, 49, 0.2);
}

.projects__card--one {
    grid-column: 1;
    grid-row: 1;
}

.projects__card--two {
    grid-column: 3;
    grid-row: 1;
    background: url(../../images/interior/2.jpg) center/cover no-repeat;
}

.projects__card--three {
    grid-column: 1;
    grid-row: 3;
    background: url(../../images/interior/7.jpg) center/cover no-repeat;
}

.projects__card--four {
    grid-column: 3;
    grid-row: 3;
    background: url(../../images/interior/5.2.jpg) center/cover no-repeat;
}

.projects__card--five {
    grid-column: 1;
    grid-row: 5;
    background: url(../../images/interior/2.jpg) center/cover no-repeat;
}

.projects__card--six {
    grid-column: 3;
    grid-row: 5;
}

.projects__card--seven {
    display: none;
}

.projects__card--eight {
    display: none;
}

.active-two .projects__card--one {
    grid-column: 1;
    grid-row: 5;
}

.active-two .projects__card--two {
    grid-column: 3;
    grid-row: 5;
}

.active-two .projects__card--three {
    grid-column: 3;
    grid-row: 3;
}

.active-two .projects__card--four {
    grid-column: 1;
    grid-row: 3;
}

.active-two .projects__card--five {
    grid-column: 1;
    grid-row: 1;
}

.active-two .projects__card--six {
    grid-column: 3;
    grid-row: 1;
}

.active-three .projects__card--one {
    grid-column: 3;
    grid-row: 3;
}

.active-three .projects__card--two {
    grid-column: 1;
    grid-row: 3;
}

.active-three .projects__card--three {
    grid-column: 1;
    grid-row: 1;
}

.active-three .projects__card--four {
    grid-column: 3;
    grid-row: 1;
}

.active-three .projects__card--five {
    grid-column: 3;
    grid-row: 5;
}

.active-three .projects__card--six {
    grid-column: 1;
    grid-row: 5;
}

.active-four .projects__card--one {
    grid-column: 3;
    grid-row: 1;
}

.active-four .projects__card--two {
    grid-column: 1;
    grid-row: 1;
}

.active-four .projects__card--three {
    grid-column: 3;
    grid-row: 3;
}

.active-four .projects__card--four {
    grid-column: 1;
    grid-row: 3;
}

.active-four .projects__card--five {
    grid-column: 3;
    grid-row: 5;
}

.active-four .projects__card--six {
    grid-column: 1;
    grid-row: 5;
}

/*____________________________________________ADAPTIVE_________________________________________________*/
/*______________max-width: 480px______________*/
@media (max-width: 1024px) {
    .projects__card-info {
        grid-template: 1fr auto 25px auto 42px 13px 46px/minmax(auto, 46px) auto minmax(auto, 64px);
    }

    .projects__card-title--black {
        grid-column: 2;
        grid-row: 2;
        max-width: 273px;
    }

    .projects__card--six {
        grid-column: 3;
        grid-row: 5;
    }

    .projects__card--six .projects__card-info {
        grid-template: 1fr auto 25px auto 42px 13px 46px/minmax(auto, 44px) auto minmax(auto, 64px);
    }

    .projects__card--six .projects__card-title--black {
        grid-row: 4;
    }

    .projects__card--six .text {
        display: none;
    }
}
/*_____________max-width: 768px_______________*/
@media (max-width: 768px) {
    .projects {
        grid-template: 333px 6px 333px 6px 333px/43.35vw 6px 43.35vw;
    }

    .projects__card-info {
        grid-template: 1fr auto 24px auto 40px auto 32px/minmax(auto, 32px) auto minmax(auto, 32px);
    }

    .projects__card--six .projects__card-info {
        grid-template: 1fr auto 24px auto 40px auto 32px/minmax(auto, 26px) auto minmax(auto, 64px);
    }

    .projects__card--six .projects__card-title--black {
        grid-row: 4;
    }

    .projects__card-text {
        display: none;
    }

    .projects__card-title--black {
        grid-column: 2;
        grid-row: 4;
        max-width: 208px;
    }

    .projects__card--one {
        grid-column: 1;
        grid-row: 1;
    }

    .projects__card--two {
        grid-column: 3;
        grid-row: 1;
    }

    .projects__card--three {
        grid-column: 1;
        grid-row: 3;
    }

    .projects__card--four {
        grid-column: 3;
        grid-row: 3;
    }

    .projects__card--five {
        grid-column: 1;
        grid-row: 5;
    }

    .projects__card--six {
        grid-column: 3;
        grid-row: 5;
    }
}
/*______________max-width: 480px______________*/
@media (max-width: 480px) {
    .projects {
        grid-template: 357px 6px 327px 6px 327px 6px 327px/1fr;
    }

    .projects__card-info {
        grid-template: 1fr auto 24px auto 40px auto 25px/minmax(auto, 24px) auto minmax(auto, 32px);
    }

    .projects__card-title--black {
        grid-column: 2;
        grid-row: 3;
        max-width: none;
    }

    .projects__card-title {
        grid-column: 2;
        grid-row: 5;
        max-width: none;
        max-width: 158px;
    }

    .projects__card-more {
        grid-column: 2;
        grid-row: 5;
    }

    .projects__card--one {
        display: none;
    }

    .projects__card--two {
        display: none;
    }

    .projects__card--three {
        grid-column: 1;
        grid-row: 3;
    }

    .projects__card--four {
        grid-column: 1;
        grid-row: 5;
    }

    .projects__card--five {
        display: none;
    }

    .projects__card--six {
        display: none;
    }

    .projects__card--seven {
        grid-column: 1;
        grid-row: 1;
        display: grid;
    }

    .projects__card--seven .projects__card-info {
        grid-template: 218px 28px 36px 38px 13px 24px/6.8% 1fr 6.4%;
    }

    .projects__card--seven .projects__card__image {
        grid-column: 1/4;
        grid-row: 1;
        width: 100%;
        height: 100%;
        background: url(../../images/interior/1.jpg) center/cover no-repeat;
    }

    .projects__card--eight {
        grid-column: 1;
        grid-row: 7;
        display: grid;
    }

    .projects__card--eight .projects__card__image {
        grid-column: 1/4;
        grid-row: 1;
        width: 100%;
        height: 100%;
        background: url(../../images/interior/2.jpg) center/cover no-repeat;
    }

    .projects__card--eight .projects__card-info {
        grid-template: 218px 28px 36px 38px 13px 24px/6.8% 1fr 6.4%;
    }

    .active-two .projects__card--three {
        grid-column: 1;
        grid-row: 5;
    }

    .active-two .projects__card--four {
        grid-column: 1;
        grid-row: 3;
    }

    .active-two .projects__card--seven {
        grid-column: 1;
        grid-row: 7;
    }

    .active-two .projects__card--eight {
        grid-column: 1;
        grid-row: 1;
    }

    .active-three .projects__card--three {
        grid-column: 1;
        grid-row: 3;
    }

    .active-three .projects__card--four {
        grid-column: 1;
        grid-row: 5;
    }

    .active-three .projects__card--seven {
        grid-column: 1;
        grid-row: 1;
    }

    .active-three .projects__card--eight {
        grid-column: 1;
        grid-row: 7;
    }

    .active-four .projects__card--three {
        grid-column: 1;
        grid-row: 3;
    }

    .active-four .projects__card--four {
        grid-column: 1;
        grid-row: 5;
    }

    .active-four .projects__card--seven {
        grid-column: 1;
        grid-row: 7;
    }

    .active-four .projects__card--eight {
        grid-column: 1;
        grid-row: 1;
    }
}
/*___________________________________________________________________________________projects______________________________________________________________________________________________*/
/*_____________________________________________________________________________________pages_______________________________________________________________________________________________*/
.pages {
    display: grid;
    grid-template: 96px 14px 140px/1fr 10px 34px 13px 20px 13px 20px 13px 20px 13px 20px 13px 34px 10px 1fr;
    -ms-flex-align: center;
    align-items: center;
}

.pages__prev {
    grid-column: 2;
    grid-row: 2;
    opacity: 0.5;
    padding-bottom: 1px;
}

.pages__next {
    grid-column: 14;
    grid-row: 2;
    opacity: 0.5;
    padding-bottom: 1px;
}

.pages__one {
    grid-column: 4;
    grid-row: 2;
}

.pages__two {
    grid-column: 6;
    grid-row: 2;
}

.pages__three {
    grid-column: 8;
    grid-row: 2;
}

.pages__next-pages {
    grid-column: 10;
    grid-row: 2;
    opacity: 0.5;
}

.pages__fifteen {
    grid-column: 12;
    grid-row: 2;
}

.pages a {
    color: #080808;
}

/*____________________________________________ADAPTIVE_________________________________________________*/
/*______________max-width: 1024px______________*/
@media (max-width: 1024px) {
    .pages {
        grid-template: 64px 14px 124px/1fr 10px 34px 13px 20px 13px 20px 13px 20px 13px 20px 13px 34px 10px 1fr;
    }
}
/*_____________max-width: 768px_______________*/
@media (max-width: 768px) {
    .pages {
        grid-template: 56px 14px 104px/1fr 10px 26px 13px 18px 13px 18px 13px 18px 13px 18px 13px 26px 10px 1fr;
    }
}
/*______________max-width: 480px______________*/
@media (max-width: 480px) {
    .pages {
        grid-template: 75px 14px 80px/1fr 10px 26px 13px 18px 13px 18px 13px 18px 13px 18px 13px 26px 10px 1fr;
    }
}
/*_____________________________________________________________________________________pages_______________________________________________________________________________________________*/
/*__________________________________________________________________________________bottom-info____________________________________________________________________________________________*/
.bottom-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)), url(../../images/interior/8.jpg);
    display: grid;
    grid-template: 137px auto 24px auto 41px auto 187px/1fr minmax(auto, 199px) 424px minmax(auto, 238px) 382px minmax(auto, 197px) 1fr;
}

.bottom-info__title {
    grid-column: 3;
    grid-row: 2;
}

.bottom-info__text {
    color: #ffffff;
    grid-column: 5;
    grid-row: 4;
    max-width: 366px;
}

.bottom-info__send-email {
    grid-column: 5;
    grid-row: 6;
}

.bottom-info span {
    display: none;
}

/*____________________________________________ADAPTIVE_________________________________________________*/
/*______________max-width: 1024px______________*/
@media (max-width: 1024px) {
    .bottom-info {
        grid-template: 123px auto 22px auto 25px auto 180px/minmax(6.4%, 160px) minmax(auto, 361px) 1px minmax(auto, 382px) minmax(6.4%, 1fr);
    }

    .bottom-info__title {
        grid-column: 2;
        line-height: 39px;
    }

    .bottom-info__text {
        grid-column: 4;
        max-width: 342px;
    }

    .bottom-info__send-email {
        grid-column: 4;
        max-width: 342px;
    }

    .bottom-info .send-email input::-webkit-input-placeholder {
        font-size: 16px;
    }

    .bottom-info .send-email input:-ms-input-placeholder {
        font-size: 16px;
    }

    .bottom-info .send-email input::-ms-input-placeholder {
        font-size: 16px;
    }

    .bottom-info .send-email input::placeholder {
        font-size: 16px;
    }
}
/*_____________max-width: 768px_______________*/
@media (max-width: 768px) {
    .bottom-info {
        grid-template: 104px auto 20px auto 35px auto 158px/minmax(6.4%, 124px) minmax(400px, 518px) minmax(6.4%, 126px);
    }

    .bottom-info__title {
        grid-column: 2;
        grid-row: 2;
        max-width: 360px;
    }

    .bottom-info__text {
        grid-column: 2;
        grid-row: 4;
        max-width: 518px;
    }

    .bottom-info__send-email {
        grid-column: 2;
        grid-row: 6;
        max-width: 518px;
    }

    .bottom-info span {
        display: inline;
    }
}
/*______________max-width: 480px______________*/
@media (max-width: 480px) {
    .bottom-info {
        grid-template: 80px auto 22px auto 32px auto 155px/6.4% 1fr 6.4%;
    }

    .bottom-info__title {
        font-size: 26px;
        line-height: 32px;
        max-width: 290px;
    }
}
/*____________________________________________________________________________________footer_____________________________________________________________________________________________*/
.footer .text {
    color: #ffffff;
}